version: "3.8"

services:
  redis:
    image: redis:7-alpine
    container_name: redis_local
    restart: unless-stopped
    ports:
      - "${REDIS_PORT}:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data

volumes:
  redis_data:
